<div class="header-app">
    <div class="header-left">

    </div>
    <div class="header-right-menu">
        <a routerLink="/p2p-notification" title="chat"><img src="assets/images/notification.png"><span class="chat-count">1</span></a>
        <a routerLink="/chat-list" title="chat"><img src="assets/images/chat.png"><span class="chat-count">3</span></a>
        <a routerLink="/withdrawal-request" title="withdraw"><img src="assets/images/withdraw.png"></a>
        <a routerLink="/all-transaction" title="transaction"><img src="assets/images/transaction.png"></a>
        <a routerLink="/setting" title="setting"><img src="assets/images/settings.png"></a>
    </div>
</div>