<div class="header-app">
    <div class="header-left">
        <a routerLink="javascript: history.go(-1)" class="page-back-button"><img src="assets/images/back.png"></a>
        <div class="user-profile">
            <span><img src="assets/images/user.png"></span> Hiii
        </div>
    </div>
    <div class="header-right-menu">
        <a routerLink="/chat-list" title="chat"><img src="assets/images/notification.png"><span class="chat-count">3</span></a>
        <a routerLink="/withdrawal-request" title="withdraw"><img src="assets/images/withdraw.png"></a>
        <a routerLink="/setting" title="setting"><img src="assets/images/settings.png"></a>
    </div>
</div>