<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Manage Users</h4>

            <div class="d-flex">
                <div class="form-row">
                    <div class="form-group" style="width: 200px;margin-left: 10px;     margin-top: 28px;">
                        <input type="text" class="form-control" placeholder="Search Here">
                    </div>
                </div>
        
                <button type="button" class="btn btn-primary" style="height: 37px;
                margin-top: 28px;
                margin-left: 15px;" (click)="add('addUser', 'Add User', {})"><i
                    class="fa-solid fa-plus"></i> Add</button>
            </div>
</div>
<div class="card table-responsive">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active / Deactive</th>
                <th>Updated On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of catList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{list?.categoryName}}</td>
                <td>{{list?.name}}</td>
                <td>
                    <img [src]="list?.imageURL" onerror="this.src='/assets/images/dummy.png'" class="tdimg" alt="">
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="list.isActive" name="isActive_{{i}}"
                        (change)="toggle($event, list?.id)"></mat-slide-toggle>
                </td>
                <td>{{list?.lastUpdate | date}}</td>
                <td>
                    <div class="d-flex">
                        <span class="btn-action" matTooltip="Edit"
                            (click)="add('editSubCategory', 'Edit Sub Category', list)">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span class="btn-action" matTooltip="Delete" (click)="delete('delete', 'Delete', list.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal template -->
<div class="modal fade" id="modals-default">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add User
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Password</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>