<div class="qr-design">
    <div class="p2p-notifi-info">
        <h3>Designer Team</h3>
        <p>Transaction ID: <b>9568953659@ybl</b></p>
        <p>Payment Type: <b>UPI</b></p>
        <p>Player ID: <b>Player565</b></p>
        <p>Player Name: <b>John Smith</b></p>
        <p>Amount: <b>$2565</b></p>
        <div class="doc-img">
            <img src="assets/images/screenshot.png">
        </div>
        <div class="btn-group">
            <a href="javascript:void(0);" class="payment-upi btn1">Accept</a>
            <a href="javascript:void(0);" class="payment-upi btn1">Decline</a>
        </div>
    </div>
</div>