<div class="qr-design">
    <h3 class="page-title">KYC Update</h3>
    <div class="QR-id crypto-wallet">
        <div class="form-group">
            <label for="">KYC Type</label>
            <select class="form-select">
                <option selected>Aadhar Card</option>
                <option>Pan Card</option>
                <option>Drive License</option>
            </select>
        </div>
        <div class="form-group">
            <label for=""><i class="bi bi-camera-fill"></i> &nbsp;Front Image</label>
            <input type="file" class="form-control">
        </div>
        <div class="form-group">
            <label for=""><i class="bi bi-camera-fill"></i> &nbsp;Back Image</label>
            <input type="file" class="form-control">
        </div>
        <div class="document-demo-image">
            <div class="doc-img">
                <img src="assets/images/id-front.png">
            </div>
            <div class="doc-img">
                <img src="assets/images/id-back.png">
            </div>
          
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn1">Submit</a>
        </div>
    </div>
                
</div>