<div class="qr-design">
    <div class="live-col">
        <div class="chat-user-list" id="chatlist">
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ajay
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Manish
                <span class="date_time">12/04/2021</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ankit
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Designer Mukesh
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ajay
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Manish
                <span class="date_time">12/04/2021</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ankit
                <span class="date_time">12/04/2021</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Designer Mukesh
                <span class="date_time">12/04/2021</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ajay
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Manish
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Ankit
                <span class="date_time">7:20 AM</span>
            </a>
            <a routerLink="chat.html" class="user-profile">
                <span><img src="assets/images/user.png"></span> Designer Mukesh
                <span class="date_time">7:20 AM</span>
            </a>
        </div>
    </div>
</div>