<div class="qr-design">
    <div class="live-col">
        <div class="chat-user-list" id="chatlist">
            <a routerLink="/chat" class="user-profile">                    
                Ajay 
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Manish
                <span class="date_time">12/04/2021</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Ankit
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Designer Mukesh
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Ajay 
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Manish
                <span class="date_time">12/04/2021</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Ankit
                <span class="date_time">12/04/2021</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Designer Mukesh
                <span class="date_time">12/04/2021</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Ajay 
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Manish
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Ankit
                <span class="date_time">7:20 AM</span>
            </a> 
            <a routerLink="/chat" class="user-profile">                    
                Designer Mukesh
                <span class="date_time">7:20 AM</span>
            </a> 
        </div>
    </div>
</div>