<div class="page-title mb-4">
    <h4 class="">Change Password</h4>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="card-body" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="d-flex w-100">
                    <div class="form-group  w-100 mr-2">
                        <label class="form-label">New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f?.['newPassword']?.['errors'] }">
                        <div *ngIf="submitted && f?.['newPassword']?.['errors']" class="invalid-feedback">
                            <div *ngIf="f?.['newPassword']?.errors?.['required']">New Password is required</div>
                        </div>
                    </div>
                    <div class="form-group w-100 mr-2">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f?.['confirmPassword']?.['errors'] }" />
                        <div *ngIf="submitted && f?.['confirmPassword']?.['errors']" class="invalid-feedback">
                            <div *ngIf="f?.['confirmPassword']?.errors?.['required']">Confirm Password is required</div>
                            <div *ngIf="f?.['confirmPassword']?.errors?.['mustMatch']">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>