<div class="order-md-1 w-100 p-4">
    <form class="needs-validation" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

        <div class="mb-3">
            <label for="AppPrivacyPolicy">App Privacy Policy</label>
            <ckeditor [(ngModel)]="model.privacyPolicy" name="privacyPolicy"  #privacyPolicy="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && privacyPolicy.invalid }" required></ckeditor>
            <div class="invalid-feedback" *ngIf="f.submitted && privacyPolicy.invalid">
                Please Write App Privacy Policy.
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg " type="submit">Save</button>
    </form>
</div>