<div class="qr-design">
    <h3 class="page-title">Translation Details</h3>
    <div class="all_transaction" id="scrollbar">
        <div class="all_transaction_item">
            <p><b>Translation ID:</b>2535*****</p>
            <div class="Date_Time">
                <p><b>Date:</b>25/01/2021</p>
                <p><b>Time:</b>12:03 AM</p>
            </div>
            <div class="Date_Time">
                <p><b>Amount:</b>$2563</p>
                <p><b>Method:</b>UPI <a routerLink="javascript:void(0);" class="details-btn"><img
                            src="assets/images/down-arrow.png"></a></p>
            </div>
            <div class="methoad-detials">
                <p><b>User Name:</b> Ankit Jangid</p>
                <p><b>UPI Number:</b> 696608256@ybl</p>
            </div>
        </div>
        <div class="all_transaction_item">
            <p><b>Translation ID:</b>2535*****</p>
            <div class="Date_Time">
                <p><b>Date:</b>25/01/2021</p>
                <p><b>Time:</b>12:03 AM</p>
            </div>
            <div class="Date_Time">
                <p><b>Amount:</b>$2563</p>
                <p><b>Method:</b>UPI <a routerLink="javascript:void(0);" class="details-btn"><img
                            src="assets/images/down-arrow.png"></a></p>
            </div>
        </div>
        <div class="all_transaction_item">
            <p><b>Translation ID:</b>2535*****</p>
            <div class="Date_Time">
                <p><b>Date:</b>25/01/2021</p>
                <p><b>Time:</b>12:03 AM</p>
            </div>
            <div class="Date_Time">
                <p><b>Amount:</b>$2563</p>
                <p><b>Method:</b>UPI <a routerLink="javascript:void(0);" class="details-btn"><img
                            src="assets/images/down-arrow.png"></a></p>
            </div>
        </div>
        <div class="all_transaction_item">
            <p><b>Translation ID:</b>2535*****</p>
            <div class="Date_Time">
                <p><b>Date:</b>25/01/2021</p>
                <p><b>Time:</b>12:03 AM</p>
            </div>
            <div class="Date_Time">
                <p><b>Amount:</b>$2563</p>
                <p><b>Method:</b>UPI <a routerLink="javascript:void(0);" class="details-btn"><img
                            src="assets/images/down-arrow.png"></a></p>
            </div>
        </div>
    </div>
</div>