<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Setting</h4>
</div>
<mat-tab-group mat-align-tabs="start" class="bg-white">
    <mat-tab label="General Setting">
        <app-general-setting></app-general-setting>
    </mat-tab>
    <mat-tab label="App Setting">
        <app-app-setting></app-app-setting>
    </mat-tab>
    <mat-tab label="Admob Setting">
        <app-ad-mob></app-ad-mob>
    </mat-tab>
    <mat-tab label="Privacy Setting">
        <app-privacy></app-privacy>
    </mat-tab>
    <mat-tab label="SMTP Setting">
        <app-smtp></app-smtp>
    </mat-tab>
</mat-tab-group>