<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Setting</h4>
</div>
<mat-tab-group mat-align-tabs="start" class="bg-white">
    <mat-tab label="App Setting">
        <div class="order-md-1 w-50 p-4">
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <label for="HostEmail">Host Email</label>
                    <input type="email" class="form-control" id="HostEmail">
                    <div class="invalid-feedback">
                        Please enter Email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Appname">App Name</label>
                    <input type="text" class="form-control" id="Appname">
                    <div class="invalid-feedback">
                        Please enter App Name.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="AppLogo">App Logo</label>
                    <input type="file" class="form-control" id="AppLogo">
                    <div class="invalid-feedback">
                        Please enter App Logo.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="AppDescription">App Description</label>
                    <textarea type="text" class="form-control" id="AppDescription"></textarea>
                    <div class="invalid-feedback">
                        Please enter App Description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="AppVersion">App Version</label>
                    <input type="text" class="form-control" id="AppVersion">
                    <div class="invalid-feedback">
                        Please enter App Version.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Author">Author</label>
                    <input type="text" class="form-control" id="Author">
                    <div class="invalid-feedback">
                        Please enter Author.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Contact">Contact</label>
                    <input type="text" class="form-control" id="Contact">
                    <div class="invalid-feedback">
                        Please enter Contact.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email">
                    <div class="invalid-feedback">
                        Please enter Email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Website">Website</label>
                    <input type="text" class="form-control" id="Website">
                    <div class="invalid-feedback">
                        Please enter Website.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="DevelopedBy">Developed By</label>
                    <input type="text" class="form-control" id="DevelopedBy">
                    <div class="invalid-feedback">
                        Please enter Developed By.
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg " type="submit">Save</button>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Type Setting">
        <div class="order-md-1 w-50 p-4">
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <mat-slide-toggle> Portrait </mat-slide-toggle>
                </div>
                <div class="mb-3">
                    <mat-slide-toggle> Landscape </mat-slide-toggle>
                </div>
                <div class="mb-3">
                    <mat-slide-toggle> Square </mat-slide-toggle>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Admob Setting">
        <div class="d-flex pl-4 pr-4 pt-4 pb-0">
            <div class="pr-2 w-50">
                <h2 class="text-center">Android</h2>
                <form class="needs-validation" novalidate="">

                    <div class="mb-3">
                        <label for="Publisher">Publisher ID</label>
                        <input type="text" class="form-control" id="Publisher">
                        <div class="invalid-feedback">
                            Please enter Publisher ID.
                        </div>
                    </div>

                    <h6 class="text-center bg-light p-2">Banner Ads</h6>
                    <div class="mb-3">
                        <label for="BannerAd2">Banner Ad</label>
                        <input type="text" class="form-control" id="BannerAd2">
                        <div class="invalid-feedback">
                            Please enter Banner Ad.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="BannerID">Banner ID</label>
                        <input type="text" class="form-control" id="BannerID">
                        <div class="invalid-feedback">
                            Please enter Banner ID.
                        </div>
                    </div>


                    <h6 class="text-center bg-light p-2">Interstital Ads</h6>
                    <div class="mb-3">
                        <label for="Interstital">Interstital</label>
                        <input type="text" class="form-control" id="Interstital">
                        <div class="invalid-feedback">
                            Please enter Interstital.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="InterstitalID">Interstital ID</label>
                        <input type="text" class="form-control" id="InterstitalID">
                        <div class="invalid-feedback">
                            Please enter Interstital ID.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="InterstitalClicks">Interstital Clicks</label>
                        <input type="text" class="form-control" id="InterstitalClicks">
                        <div class="invalid-feedback">
                            Please enter Interstital Clicks.
                        </div>
                    </div>

                </form>
            </div>
            <div class="pl-2 w-50">
                <h2 class="text-center">IOS</h2>
                <form class="needs-validation" novalidate="">

                    <div class="mb-3">
                        <label for="Publisher">Publisher ID</label>
                        <input type="text" class="form-control" id="Publisher">
                        <div class="invalid-feedback">
                            Please enter Publisher ID.
                        </div>
                    </div>

                    <h6 class="text-center bg-light p-2">Banner Ads</h6>
                    <div class="mb-3">
                        <label for="BannerAd3">Banner Ad</label>
                        <input type="text" class="form-control" id="BannerAd3">
                        <div class="invalid-feedback">
                            Please enter Banner Ad.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="BannerID">Banner ID</label>
                        <input type="text" class="form-control" id="BannerID">
                        <div class="invalid-feedback">
                            Please enter Banner ID.
                        </div>
                    </div>


                    <h6 class="text-center bg-light p-2">Interstital Ads</h6>
                    <div class="mb-3">
                        <label for="Interstital">Interstital</label>
                        <input type="text" class="form-control" id="Interstital">
                        <div class="invalid-feedback">
                            Please enter Interstital.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="InterstitalID">Interstital ID</label>
                        <input type="text" class="form-control" id="InterstitalID">
                        <div class="invalid-feedback">
                            Please enter Interstital ID.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="InterstitalClicks">Interstital Clicks</label>
                        <input type="text" class="form-control" id="InterstitalClicks">
                        <div class="invalid-feedback">
                            Please enter Interstital Clicks.
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <hr class=" mr-4 ml-4">
        <button class="btn btn-primary btn-lg mr-4 ml-4 mb-4" type="submit">Save</button>
    </mat-tab>
    <mat-tab label="Privacy Setting">
        <div class="order-md-1 w-50 p-4">
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <label for="AppPrivacyPolicy">App Privacy Policy</label>
                    <textarea type="text" class="form-control" id="AppPrivacyPolicy"></textarea>
                    <div class="invalid-feedback">
                        Please enter App Privacy Policy.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg " type="submit">Save</button>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="SMTP Setting">
        <div class="order-md-1 w-50 p-4">
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <label for="Email"> Email</label>
                    <input type="email" class="form-control" id="Email">
                    <div class="invalid-feedback">
                        Please enter Email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                    <div class="invalid-feedback">
                        Please enter Password.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Host">Host</label>
                    <input type="text" class="form-control" id="Host">
                    <div class="invalid-feedback">
                        Please enter Host.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Port">Port</label>
                    <input type="text" class="form-control" id="Port">
                    <div class="invalid-feedback">
                        Please enter Port.
                    </div>
                </div>

                <div class="mb-3">
                    <mat-slide-toggle> Secure </mat-slide-toggle>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg " type="submit">Save</button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>