<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">API URLS</h4>
</div>
<div class="card table-responsive" style="    padding: 10px;
color: #fff;
background: #2c2e3e;">
   <p>API URL  http://rajasthanijewellery.gdgtsinfo.com/api.php    </p>
   <p>Home (Method: get_home) (Parameters: type (Portrait/Landscape/Square))</p>
   <p>Latest Wallpapers (Method: get_latest) (Parameters: type, page, color_id (1,2,3))  </p>
   <p>Category List (Method: get_category, type)   </p>
   <p>API URL  http://rajasthanijewellery.gdgtsinfo.com/api.php    </p>
   <p>Home (Method: get_home) (Parameters: type (Portrait/Landscape/Square))</p>
   <p>Latest Wallpapers (Method: get_latest) (Parameters: type, page, color_id (1,2,3))  </p>
   <p>Category List (Method: get_category, type)   </p>
   <p>API URL  http://rajasthanijewellery.gdgtsinfo.com/api.php    </p>
   <p>Home (Method: get_home) (Parameters: type (Portrait/Landscape/Square))</p>
   <p>Latest Wallpapers (Method: get_latest) (Parameters: type, page, color_id (1,2,3))  </p>
   <p>Category List (Method: get_category, type)   </p>
   <p>API URL  http://rajasthanijewellery.gdgtsinfo.com/api.php    </p>
   <p>Home (Method: get_home) (Parameters: type (Portrait/Landscape/Square))</p>
   <p>Latest Wallpapers (Method: get_latest) (Parameters: type, page, color_id (1,2,3))  </p>
   <p>Category List (Method: get_category, type)   </p>
</div>