<div class="qr-design">
    <div class="live-col">
        <div class="chatlist">
            <div class="chat-profile">
                <span><img src="assets/images/user.png"></span> Steve
            </div>
            <ul id="chatlist" class="list-unstyled m-0 p-0">
                <li class="send">
                    <div class="chtmessgae">Hello Ajay</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">Hy</div>
                </li>
                <li class="send">
                    <div class="chtmessgae">Good morning, How are you? What about our next meeting?</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">Yeah everything is fine</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">& Next meeting tomorrow 10.00AM</div>
                </li>
                <li class="send">
                    <div class="chtmessgae">Wow that's great</div>
                </li>
                <li class="send">
                    <div class="chtmessgae">Hello Ajay</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">Hy</div>
                </li>
                <li class="send">
                    <div class="chtmessgae">Good morning, How are you? What about our next meeting?</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">Yeah everything is fine</div>
                </li>
                <li class="recived">
                    <div class="chtmessgae">& Next meeting tomorrow 10.00AM</div>
                </li>
                <li class="send">
                    <div class="chtmessgae">Wow that's great</div>
                </li>

            </ul>
        </div>
        <div class="chat-input">
            <div class="input-group position-relative">
                <input type="text" class="form-control" placeholder="chat...">
                <button class="btn" type="button"><img src="assets/images/send.png"></button>
            </div>
        </div>
    </div>
</div>