<div class="qr-design">
    <div class="setting-section">
        <h3 class="page-title">Setting</h3>
        <a class="setting-item" routerLink="/kyc">
            <h6>KYC</h6>
            <img src="assets/images/select-payment-icon.png" class="verfied">
        </a>
        <a class="setting-item" routerLink="/phone-verify">
            <h6>Phone Number</h6>
            <span class="update">Update</span>
        </a>
        <a class="setting-item" routerLink="/all-transaction">
            <h6>All Translation</h6>
        </a>
    </div>
</div>