<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Sub Category</h4>
    <div class="d-flex">
        <div class="form-row">
            <div class="form-group" style="width: 200px;">
                <label class="form-label">Select Category</label>
                <select class="form-control">
                    <option value="1">Select</option>
                    <option value="3">Category 1</option>
                    <option value="2">Category 2</option>
                </select>
            </div>
            <div class="form-group" style="width: 200px;margin-left: 10px;     margin-top: 28px;">
                <input type="text" class="form-control" placeholder="Search Here">
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="add('addSubCategory', 'Add Sub Category', {})" style="height: 37px;
        margin-top: 28px;
        margin-left: 15px;"><i class="fa-solid fa-plus"></i> Add</button>
    </div>
</div>
<div class="text-right" *ngIf="deleteIds.length > 0">
    <button type="button" class="btn btn-danger mb-2" (click)="delete('delete', 'Delete', deleteIds, 'multiple')"><i
            class="fa-solid fa-trash"></i>
        Delete</button>
</div>
<div class="card table-responsive">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Sub Category Name</th>
                <th>Image</th>
                <th>Active / Deactive</th>
                <th>Updated On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of catList; let i = index">
                <td>
                    <mat-checkbox class="no-checkbox" (change)="noCheck($event, list.id)"></mat-checkbox>{{i + 1}}
                </td>
                <td>{{list?.categoryName}}</td>
                <td>{{list?.name}}</td>
                <td>
                    <img [src]="list?.imageURL" onerror="this.src='/assets/images/dummy.png'" class="tdimg" alt="">
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="list.isActive" name="isActive_{{i}}"
                        (change)="toggle($event, list?.id)"></mat-slide-toggle>
                </td>
                <td>{{list?.lastUpdate | date}}</td>
                <td>
                    <div class="d-flex">
                        <span class="btn-action" matTooltip="Edit"
                            (click)="add('editSubCategory', 'Edit Sub Category', list)">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span class="btn-action" matTooltip="Delete" (click)="delete('delete', 'Delete', list.id, 'single')">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>