<div class="payment-infographic text-center">
    <img src="assets/images/payment-sucess.png">
</div>
<div class="qr-design">
    <div class="upi-from">
        <div class="payment-timer">
            <div class="payment-timer-animation">
                <h2>Payment Successful</h2>
                <p><b>Transaction Number:</b> AP082872XX</p>
                <p><span><b>Amount Paid:</b></span> $256</p>
                <p>Payed by <b>Paytem</b></p>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn1">Thank You</button>
        </div>
    </div>
</div>