<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Category</h4>

    <div class="d-flex">
        <div class="deleteall-btnout mr-3" *ngIf="deleteIds.length > 0">
            <button type="button" class="btn btn-danger mb-2"
                (click)="delete('delete', 'Delete', deleteIds, 'multiple')"><i class="fa-solid fa-trash"></i>
                Delete</button>
        </div>
        <div class="form-row">
            <div class="form-group" style="width: 200px;margin-left: 10px;     margin-top: 28px;">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="userQuestion" name="userQuestion" (ngModelChange)="this.userQuestionUpdate.next($event)">
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="add('addCategory', 'Add Category', {})" style="height: 37px;
                margin-top: 28px;
                margin-left: 15px;"><i class="fa-solid fa-plus"></i> Add</button>
    </div>
</div>

<div class="card table-responsive">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Image</th>
                <th>Active / Deactive</th>
                <th>Updated On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of catList; let i = index">
                <td>
                    <mat-checkbox class="no-checkbox" (change)="noCheck($event, list.id)"></mat-checkbox>{{TableIndex+i
                    + 1}}
                </td>
                <td>{{list?.name}}</td>
                <td>
                    <img [src]="list?.imageURL" onerror="this.src='/assets/images/dummy.png'" class="tdimg" alt="">
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="list.isActive" name="isActive_{{i}}"
                        (change)="toggle($event, list?.id)"></mat-slide-toggle>
                </td>
                <td>{{list?.lastUpdate | date}}</td>
                <td>
                    <div class="d-flex">
                        <span class="btn-action" matTooltip="Edit" (click)="add('editCategory', 'Edit Category', list)">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span class="btn-action" matTooltip="Delete"
                            (click)="delete('delete', 'Delete', list.id, 'single')">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getPage($event)" [showFirstLastButtons]="true"
        style="margin: 0 20px 10px; overflow: hidden;">
    </mat-paginator>
</div>