<div class="page-title d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Category</h4>

    <div class="d-flex">
        <div class="form-row">
            <div class="form-group" style="width: 200px;margin-left: 10px;     margin-top: 28px;">
                <input type="text" class="form-control" placeholder="Search Here">
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="add('addCategory', 'Add Category')" style="height: 37px;
                margin-top: 28px;
                margin-left: 15px;"><i class="fa-solid fa-plus"></i> Add</button>
    </div>
</div>
<div class="card table-responsive">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Active / Deactive</th>
                <th>Updated On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of [0,1,2,3,4]; let i = index">
                <td>{{i + 1}}</td>
                <td>Category 1</td>
                <td>
                    <label class="switcher">
                        <input type="checkbox" class="switcher-input">
                        <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                        </span>
                    </label>
                </td>
                <td>11 Aug, 2022</td>
                <td>
                    <div class="d-flex">
                        <span class="btn-action" matTooltip="Edit">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span class="btn-action" matTooltip="Delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>