<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical sidenav-dark bg-dark">
    <!-- Brand demo (see assets/css/demo/demo.css) -->
    <div class="app-brand demo">
      <span class="app-brand-logo demo">
        <img src="/assets/images/logo.png" alt="Brand Logo" class="img-fluid">
      </span>
      <a href="index.html" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Auric</a>
      <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
    <div class="sidenav-divider mt-0"></div>
    <ul class="sidenav-inner py-1">
      <li class="sidenav-item">
        <a href="javascript:" class="sidenav-link sidenav-toggle">
          <i class="sidenav-icon feather icon-monitor"></i>
          <div>Dashboard</div>
        </a>
        <ul class="sidenav-menu">
          <li class="sidenav-item">
            <a href="index.html" class="sidenav-link">
              <div>Home</div>
            </a>
          </li>
          <li class="sidenav-item">
            <a href="dashboard-ecommerce.html" class="sidenav-link">
              <div>Ecommerce</div>
            </a>
          </li>
          <li class="sidenav-item">
            <a href="dashboard-project.html" class="sidenav-link">
              <div>Project</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>