<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical sidenav-dark bg-dark">
  <div class="app-brand demo">
    <span class="app-brand-logo demo">
      <img src="/assets/images/logo.png" alt="Brand Logo" class="img-fluid" style="height: 35px;">
    </span>
    <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="fa-solid fa-bars"></i>
    </a>
  </div>
  <div class="sidenav-divider mt-0"></div>
  <ul class="sidenav-inner py-1">
    <li class="sidenav-item">
      <a routerLink="" class="sidenav-link">
        <i class="sidenav-icon feather icon-monitor"></i>
        <div>Dashboard</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./category" class="sidenav-link">
        <i class="sidenav-icon feather icon-archive"></i>
        <div>Category</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./sub-category" class="sidenav-link">
        <i class="sidenav-icon feather icon-copy"></i>
        <div>Sub Category</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./wallpaper" class="sidenav-link">
        <i class="sidenav-icon feather icon-image"></i>
        <div>Wallpaper</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./users" class="sidenav-link">
        <i class="sidenav-icon feather icon-users"></i>
        <div>Users</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./reports" class="sidenav-link">
        <i class="sidenav-icon feather icon-file-text"></i>
        <div>Reports</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./settings" class="sidenav-link">
        <i class="sidenav-icon feather icon-settings"></i>
        <div>Setting</div>
      </a>
    </li>
    <li class="sidenav-item">
      <a routerLink="./api-url" class="sidenav-link">
        <i class="sidenav-icon feather icon-share-2"></i>
        <div>API Url</div>
      </a>
    </li>
    <!-- <li class="sidenav-item">
      <a routerLink="" class="sidenav-link">
        <i class="sidenav-icon feather icon-menu"></i>
        <div>Login History</div>
      </a>
    </li> -->

  </ul>
</div>