<div class="row">
    <div class="col-sm-6 col-xl-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-start">
                <div>
                    <a routerLink="/category" class="text-dark text-big font-weight-semibold">Category</a>
                </div>
            </div>
            <div class="card-body text-center">
                <h2>{{getData?.categoryCount}}</h2>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-start">
                <div>
                    <a routerLink="/sub-category" class="text-dark text-big font-weight-semibold">Sub Category</a>
                </div>
            </div>
            <div class="card-body text-center">
                <h2>{{getData?.subcategoryCount}}</h2>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-start">
                <div>
                    <a routerLink="." class="text-dark text-big font-weight-semibold">Wallpaper</a>
                </div>
            </div>
            <div class="card-body text-center">
                <h2>{{getData?.wallpaperCount}}</h2>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-start">
                <div>
                    <a routerLink="." class="text-dark text-big font-weight-semibold">Wallpaper Downloads</a>
                </div>
            </div>
            <div class="card-body text-center">
                <h2>{{getData?.wallpaperDownloadsCount}}</h2>
            </div>
        </div>
    </div>
</div>