
                        <div class="row">
                            <div class="col-sm-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-start">
                                        <div>
                                            <a href="javascript:void(0)" class="text-dark text-big font-weight-semibold">Frontend Development</a>
                                            <span class="badge badge-success align-text-bottom ml-1">Active</span>
                                            <div class="text-muted small mt-1">10 opened tasks, 5 tasks completed</div>
                                        </div>
                                        <div class="btn-group project-actions">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)">View</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac nisl malesuada Maecenas tellus.</p>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-muted small">Created</div>
                                                <div class="font-weight-bold">02/01/2018</div>
                                            </div>
                                            <div class="col">
                                                <div class="text-muted small">Deadline</div>
                                                <div class="font-weight-bold">03/12/2018</div>
                                            </div>
                                        </div>
                                        <div class="small pt-3 pb-2">
                                            <strong>33%</strong> completed
                                        </div>
                                        <div class="progress rounded-0" style="height: 3px;">
                                            <div class="progress-bar bg-danger" style="width: 33%;"></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-muted small mb-2">Team</div>
                                        <div class="d-flex flex-wrap">
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/2.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/3.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/4.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/5.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/6.png" alt="" class="ui-w-30 rounded-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-start pb-3">
                                        <div>
                                            <a href="javascript:void(0)" class="text-dark text-big font-weight-semibold">Website</a>
                                            <span class="badge badge-danger align-text-bottom ml-1">Over</span>
                                            <div class="text-muted small mt-1">15 opened tasks, 29 tasks completed</div>
                                        </div>
                                        <div class="btn-group project-actions">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)">View</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Aliquam sem elit, semper sed ante ut, aliquam molestie risus.</p>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-muted small">Created</div>
                                                <div class="font-weight-bold">02/01/2018</div>
                                            </div>
                                            <div class="col">
                                                <div class="text-muted small">Deadline</div>
                                                <div class="font-weight-bold">03/12/2018</div>
                                            </div>
                                        </div>
                                        <div class="small pt-3 pb-2">
                                            <strong>67%</strong> completed
                                        </div>
                                        <div class="progress rounded-0" style="height: 3px;">
                                            <div class="progress-bar" style="width: 67%;"></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-muted small mb-2">Team</div>
                                        <div class="d-flex flex-wrap">
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/7.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/8.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/9.png" alt="" class="ui-w-30 rounded-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-start pb-3">
                                        <div>
                                            <a href="javascript:void(0)" class="text-dark text-big font-weight-semibold">UI update</a>
                                            <span class="badge badge-success align-text-bottom ml-1">Active</span>
                                            <div class="text-muted small mt-1">6 opened tasks, 48 tasks completed</div>
                                        </div>
                                        <div class="btn-group project-actions">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)">View</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Etiam venenatis varius lectus sed fermentum. Nullam hendrerit, massa sed tincidunt sagittis.</p>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-muted small">Created</div>
                                                <div class="font-weight-bold">02/01/2018</div>
                                            </div>
                                            <div class="col">
                                                <div class="text-muted small">Deadline</div>
                                                <div class="font-weight-bold">03/12/2018</div>
                                            </div>
                                        </div>
                                        <div class="small pt-3 pb-2">
                                            <strong>89%</strong> completed
                                        </div>
                                        <div class="progress rounded-0" style="height: 3px;">
                                            <div class="progress-bar bg-success" style="width: 89%;"></div>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-body py-3">
                                        <div class="text-muted small mb-2">Team</div>
                                        <div class="d-flex flex-wrap">
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/10.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/11.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/12.png" alt="" class="ui-w-30 rounded-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-start pb-3">
                                        <div>
                                            <a href="javascript:void(0)" class="text-dark text-big font-weight-semibold">SEO</a>
                                            <span class="badge badge-warning align-text-bottom ml-1">Pending</span>
                                            <div class="text-muted small mt-1">25 opened tasks, 45 tasks completed</div>
                                        </div>
                                        <div class="btn-group project-actions">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)">View</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Suspendisse scelerisque nisi ac semper ornare.</p>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-muted small">Created</div>
                                                <div class="font-weight-bold">02/01/2018</div>
                                            </div>
                                            <div class="col">
                                                <div class="text-muted small">Deadline</div>
                                                <div class="font-weight-bold">03/12/2018</div>
                                            </div>
                                        </div>
                                        <div class="small pt-3 pb-2">
                                            <strong>64%</strong> completed
                                        </div>
                                        <div class="progress rounded-0" style="height: 3px;">
                                            <div class="progress-bar" style="width: 64%;"></div>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-body py-3">
                                        <div class="text-muted small mb-2">Team</div>
                                        <div class="d-flex flex-wrap">
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/2.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/3.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/4.png" alt="" class="ui-w-30 rounded-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-start pb-3">
                                        <div>
                                            <a href="javascript:void(0)" class="text-dark text-big font-weight-semibold">example.com design</a>
                                            <span class="badge badge-success align-text-bottom ml-1">Active</span>
                                            <div class="text-muted small mt-1">56 opened tasks, 28 tasks completed</div>
                                        </div>
                                        <div class="btn-group project-actions">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)">View</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Pellentesque imperdiet nunc quis fringilla euismod. Nunc iaculis eu augue sit amet faucibus.</p>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-muted small">Created</div>
                                                <div class="font-weight-bold">02/01/2018</div>
                                            </div>
                                            <div class="col">
                                                <div class="text-muted small">Deadline</div>
                                                <div class="font-weight-bold">03/12/2018</div>
                                            </div>
                                        </div>
                                        <div class="small pt-3 pb-2">
                                            <strong>33%</strong> completed
                                        </div>
                                        <div class="progress rounded-0" style="height: 3px;">
                                            <div class="progress-bar" style="width: 33%;"></div>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-body py-3">
                                        <div class="text-muted small mb-2">Team</div>
                                        <div class="d-flex flex-wrap">
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/5.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/6.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/7.png" alt="" class="ui-w-30 rounded-circle"></a>
                                            <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="assets/img/avatars/8.png" alt="" class="ui-w-30 rounded-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>