.genhelp-icon{
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    top: 2px;
}
.custom-file{
    &.is-invalid{
        .custom-file-label{ border-color: #FF4961 !important;}
    }
}