<form class="w-50 p-4" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" [(ngModel)]="model.title" name="title" #title="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required>
    </div>
    <div class="form-group">
        <label class="form-label">Logo Light</label>
        <label class="custom-file" [ngClass]="{ 'is-invalid': f.submitted && !logoLightUrl }">
            <input type="file" class="custom-file-input" (change)="onSelectFile($event, 'LogoLight', model)">
            <span class="custom-file-label" style="padding-left: 15px;"></span>
        </label>
        <div *ngIf="logoLightUrl" class="mt-1">
            <img [src]="logoLightUrl" onError="this.src='assets/images/dummy.png'" alt="" style="height: 50px">
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Logo Dark</label>
        <label class="custom-file" [ngClass]="{ 'is-invalid': f.submitted && !logoDarkUrl }">
            <input type="file" class="custom-file-input" (change)="onSelectFile($event, 'LogoDark', model)">
            <span class="custom-file-label" style="padding-left: 15px;"></span>
        </label>
        <div *ngIf="logoDarkUrl" class="mt-1">
            <img [src]="logoDarkUrl" onError="this.src='assets/images/dummy.png'" alt="" style="height: 50px">
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Fav Icon</label>
        <label class="custom-file" [ngClass]="{ 'is-invalid': f.submitted && !favIconUrl }">
            <input type="file" class="custom-file-input" (change)="onSelectFile($event, 'FavIcon', model)">
            <span class="custom-file-label" style="padding-left: 15px;"></span>
        </label>
        <div *ngIf="favIconUrl" class="mt-1">
            <img [src]="favIconUrl" onError="this.src='assets/images/dummy.png'" alt="" style="height: 50px">
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Mobile No.<small>(Optional)</small>
            <mat-icon class="genhelp-icon" matTooltip="Refelect All Wesite">help</mat-icon>
        </label>
        <input type="text" class="form-control" [(ngModel)]="model.publicContactNo" name="publicContactNo">
    </div>
    <button class="btn btn-primary btn-lg mt-2" type="submit">Save</button>
</form>