<div class="qr-design payment-page toggle">
    <div class="pear-to-pear-tab payment-tab">
        <a href="javascript:void(0)" class="tab active">UPI</a>
        <a href="javascript:void(0)" class="tab">Wallet</a>
        <a href="javascript:void(0)" class="tab">Bank</a>
    </div>
    <div class="p2p_content payment-page panel" style="display:block;">
        <h3 class="page-title">UPI Details</h3>
        <div class="form-group">
            <label for="">Select your UPI app</label>
            <select class="form-select">
                <option selected>Google Pay</option>
                <option>Phonepay</option>
                <option>BHIM app</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">UPI ID</label>
            <input type="text" class="form-control" placeholder="UPI Id">
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn1">Verify</a>
        </div>
    </div>
    <div class="p2p_content payment-page panel">
        <h3 class="page-title">Wallet Details</h3>
        <div class="form-group">
            <label for="">Wallet Type</label>
            <select class="form-select">
                <option selected>Google Pay</option>
                <option>Phonepay</option>
                <option>Paytm</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Wallet Number</label>
            <input type="text" class="form-control" placeholder="Wallet Id">
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn1">Verify</a>
        </div>
    </div>
    <div class="p2p_content payment-page panel">
        <h3 class="page-title">Bank Details</h3>
        <div class="form-group">
            <label for="">Account Number</label>
            <input type="text" class="form-control" placeholder="Account Number">
        </div>
        <div class="form-group">
            <label for="">Account Holder Name</label>
            <input type="text" class="form-control" placeholder="Account Holder Name">
        </div>
        <div class="form-group">
            <label for="">IFSC Code</label>
            <input type="text" class="form-control" placeholder="IFSC Code">
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn1">Submit</a>
        </div>
    </div>
</div>