<div class="authentication-wrapper authentication-2 px-4" *ngIf="!paramData?.token">
    <div class="authentication-inner py-5">

        <!-- [ Form ] Start -->
        <div class="card">
            <div class="p-4 p-sm-5">
                <div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>
                <p class="text-center text-big mb-4">Password Reset Link is Successfully Send to Registred Email
                    Address!</p>
                <!-- <button type="button" class="btn btn-primary btn-block">Proceed to your account</button> -->
            </div>
        </div>

        <!-- [ Form ] End -->



    </div>
</div>

<div class="authentication-wrapper authentication-2 px-4" *ngIf="paramData?.token && !verifyData?.status">
    <div class="authentication-inner py-5">

        <div class="card">
            <div class="p-4 p-sm-5">
                <div class="display-1 lnr lnr-cross-circle text-center text-danger mb-4"></div>
                <p class="text-center text-big mb-4">{{verifyData?.result?.message}}</p>
                <!-- <button type="button" class="btn btn-primary btn-block">Proceed to your account</button> -->
            </div>
        </div>
    </div>
</div>



<div class="authentication-wrapper authentication-2 px-4" *ngIf="paramData?.token && verifyData?.status">
    <div class="authentication-inner py-5">

        <!-- [ Form ] Start -->
        <form class="card" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="p-4 p-sm-5">

                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <div class="ui-w-60">
                        <div class="w-100 position-relative">
                            <img src="/assets/images/logo-dark.png" alt="Brand Logo" class="img-fluid">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5> 

                <div class="w-100">
                    <div class="form-group  w-100 mr-2">
                        <label class="form-label">New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f?.['newPassword']?.['errors'] }">
                        <div *ngIf="submitted && f?.['newPassword']?.['errors']" class="invalid-feedback">
                            <div *ngIf="f?.['newPassword']?.errors?.['required']">New Password is required</div>
                        </div>
                    </div>
                    <div class="form-group w-100 mr-2">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f?.['confirmPassword']?.['errors'] }" />
                        <div *ngIf="submitted && f?.['confirmPassword']?.['errors']" class="invalid-feedback">
                            <div *ngIf="f?.['confirmPassword']?.errors?.['required']">Confirm Password is required
                            </div>
                            <div *ngIf="f?.['confirmPassword']?.errors?.['mustMatch']">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary w-100" type="submit">Save</button>
                </div>
            </div>
        </form>
        <!-- [ Form ] End -->

    </div>
</div>