<div class="order-md-1 w-50 p-4">
        <h2 class="text-center">Android</h2>
        <form class="needs-validation"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

            <div class="mb-3">
                <label for="Publisher">Publisher ID</label>
                <input type="text" class="form-control" id="Publisher" [(ngModel)]="model.publisherId" name="publisherId"  #publisherId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && publisherId.invalid }" required>
                <div class="invalid-feedback"  *ngIf="f.submitted && publisherId.invalid">
                    Please enter Publisher ID.
                </div>
            </div>

            <h6 class="text-center bg-light p-2">Banner Ads</h6>
            <div class="mb-3">
                <label for="BannerAd2">Banner Ad</label>
                <input type="text" class="form-control" id="BannerAd2"  [(ngModel)]="model.bannerAdId" name="bannerAdId"  #bannerAdId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && bannerAdId.invalid }" required>
                <div class="invalid-feedback" *ngIf="f.submitted && bannerAdId.invalid">
                    Please enter Banner Ad.
                </div>
            </div>


            <h6 class="text-center bg-light p-2">Interstital Ads</h6>
            <div class="mb-3">
                <label for="InterstitalID">Interstital ID</label>
                <input type="text" class="form-control" id="InterstitalID" [(ngModel)]="model.interstitalAdId" name="interstitalAdId"  #interstitalAdId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && interstitalAdId.invalid }" required>
                <div class="invalid-feedback" *ngIf="f.submitted && interstitalAdId.invalid">
                    Please enter Interstital ID.
                </div>
            </div>

            <div class="mb-3">
                <label for="InterstitalClicks">Interstital Clicks</label>
                <input type="text" class="form-control" id="InterstitalClicks" [(ngModel)]="model.interstitalAdCountShow" name="interstitalAdCountShow"  #interstitalAdCountShow="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && interstitalAdCountShow.invalid }" required>
                <div class="invalid-feedback" *ngIf="f.submitted && interstitalAdCountShow.invalid">
                    Please enter Interstital Clicks.
                </div>
            </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg " type="submit">Save</button>
    </form>
</div>