<div class="qr-design payment-page">
    <div class="p2p_content payment-page">
        <h3 class="page-title">Crypto Wallet</h3>
        <div class="form-group">
            <label for="">Wallet Address</label>
            <select class="form-select">
                <option selected>BTC</option>
                <option>USDT</option>
            </select>
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn1">Submit</a>
        </div>
    </div>

</div>