/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-action {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    font-size: 12px;
    cursor: pointer;

    i {
        position: relative;
        top: 1px;
    }
}

.success-snackbar {
    background: green;
    color: #fff;
}

.danger-snackbar {
    background: red;
    color: #fff;
}

.mat-simple-snackbar-action button {
    color: #fff;
}
.tdimg{
    width: 300px;
    height: 50px;
    object-fit: cover;
}
.no-checkbox{position: relative;
    top: -1px;
    margin-right: 8px;
.mat-checkbox-layout{margin-bottom: 0;}
}
.filter-datepic{
    .mat-datepicker-toggle{
        position: absolute;
        bottom: -2px;
        right: 0px;
    }
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table thead th {
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.tdimg{ width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius: 50%;}
    .mat-tooltip {
        /* your own custom styles here */ 
        /* e.g. */
        background-color: #e91e63;
    }