<div class="payment-infographic text-center">
    <img src="assets/images/select-payment.png">
</div>
<div class="qr-design">
    <div class="upi-from">
        <div class="select-payment">
            <a routerLink="/upi" class="payment-upi selected">
                <span class="upi-icon">
                    <img src="assets/images/payment-option.png">
                </span>
                <span class="upi-type">
                    UPI / Wallet / Bank
                </span>
                <img src="assets/images/select-payment-icon.png" class="select-payment-icon">
            </a>
            <a routerLink="/crypto" class="payment-upi">
                <span class="upi-icon">
                    <img src="assets/images/crypto-icon.png">
                </span>
                <span class="upi-type">
                    Crypto
                </span>
                <img src="assets/images/select-payment-icon.png" class="select-payment-icon">
            </a>
            <a routerLink="/p2p" class="payment-upi">
                <span class="upi-icon">
                    <img src="assets/images/p2p-icon.png">
                </span>
                <span class="upi-type">
                    P2P
                </span>
                <img src="assets/images/select-payment-icon.png" class="select-payment-icon">
            </a>
        </div>
        <div class="text-center">
            <a routerLink="/upi" class="payment-upi btn1" (click)="abc()">Continue</a>
        </div>
    </div>
</div>