<div class="qr-design">
    <div class="setting-section p2p-request">
        <h3 class="page-title">P2P Payment Request</h3>
        <a class="setting-item" routerLink="/p2p-notification-information">
            <h6>Designer Team.. <span class="amount">$256</span></h6>
            <span class="update">View</span>
        </a>
        <a class="setting-item" routerLink="/p2p-notification-information">
            <h6>Designer Team2.. <span class="amount">$26</span></h6>
            <span class="update">View</span>
        </a>
        <a class="setting-item" routerLink="/p2p-notification-information">
            <h6>Designer Team4.. <span class="amount">$100</span></h6>
            <span class="update">View</span>
        </a>
    </div>
</div>