<div class="payment-infographic text-center">
    <img src="assets/images/payment-conjusted.png">
</div>
<div class="qr-design">
    <div class="upi-from">
        <div class="payment-timer">
            <div class="payment-timer-animation">
                <h2>Payment Congested</h2>
            </div>
        </div>
        <div class="form-group text-center whatsappbtn">
            <button type="submit" class="btn1"><img src="assets/images/whatsapp.png"> Talk with us</button>
        </div>
    </div>
</div>