<div class="page-title mb-4">
    <h4 class="">Account settings</h4>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="card-body" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                <label class="form-label">Profile Image</label>
                <div class="" style="width: 80px; margin-bottom: 1rem; position: relative;">
                    <input id="fileInput" type='file' (change)="onSelectFile($event)"
                        style="    position: absolute; z-index: 1;  height: 110px; width: 80px; top: -2px; opacity: 0;">
                    <img [src]="url" onError="this.src='assets/images/user.jpg'" alt=""
                        style="object-fit: cover; height: 80px;  width: 80px; border-radius: 50%;">
                    <span class="material-icons" style="position: absolute; bottom: 9px; right: 0;
                background: #a856aa !important; border-radius: 50%;color: #fff;padding: 4px;font-size: 17px;">
                        create
                    </span>
                </div>

                <div class="d-flex w-100">
                    <div class="form-group  w-100 mr-2">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                    </div>
                    <div class="form-group w-100 mr-2">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" readonly [(ngModel)]="model.email" name="email">
                    </div>
                </div>
                <div class="text-right mt-3">
                    <button type="button" class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>